body {
  margin:0px;
  padding:30px;
  text-align: center;
  min-height: 100vh;
  background-image: url('/assets/img/background.jpg');
  background-position: center;
}

#photo-cred {
  color: #542a16;
  background-color: rgba(250, 235, 215, 0.35);
  border-radius: 5px;
  position:absolute;
  bottom: 10px;
  right: 10px;
  display: inline-block;
  padding: 5px 10px;
}

#photo-cred a {
  color: #542a16;
}

.backer {
  text-align: center;
  position:absolute;
  background: rgba(245, 245, 245, 0.35);
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  z-index: 1;
}

.backer .spinner-grow {
  margin: 20px;
  top:50%;
  position: relative;
}

.scroller-container {
  perspective-origin: center;
  perspective: 100px;
  display: inline-block;
  width: 95%;
  max-width: 200px;
  margin-top: 10%;
}

.scroller-content {
  width: 95%;
  max-width: 300px;
  display: inline-block;
  background-color: #e7e1de59;
  transform: rotateX(30deg);
  transform-style: preserve-3d;
  height: 200px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  perspective: 100px;
  perspective-origin: center;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-margin: 10px;
}

li.list-group-item:first-of-type {
  margin-top: 150px;
}

li.list-group-item:last-of-type {
  margin-bottom: 50px;
}

li.list-group-item.person {
  background: none;
  margin: 0px;
  border: 2px solid transparent;
  color: #212529;
  font-family: sans-serif;
}

li.list-group-item.person:hover {
  border: 2px solid #212529;
  cursor: pointer;
}

.user-modal {
  background: #f7efee;
  border-radius: 3px;
  box-shadow: 0px 3px 5px #666666;
  text-align: left;
  font-family: monospace;
  z-index: 1;
}

.user-modal .section {
  display: inline-block;
  width: 45%;
  border-radius: 5px;
  text-align: left;
  padding: 10px;
  text-transform: uppercase;
  min-width: 250px;
  vertical-align: text-top;
}

.user-modal h1 {
  font-size: 24px;
  text-align: center;
}

.user-modal p {
  margin-bottom: 0.2rem;
}

.scroller-content::-webkit-scrollbar {
  display: none;
}

.scroller-content::-webkit-inner-spin-button {
  display:none;
}

#search {
  position: absolute;
  bottom: 60px;
  right: 60px;
  display: inline-block;
  padding: 5px 10px;
}

#search input {
  color: #212529;
  background-color: #f7efee;
  border-radius: 25px;
  border: none;
  font-size: 24px;
  height: 50px;
  width:50px;
  font-weight:bold;
  padding: 18px;
  scrollbar-width: none;
  scroll-margin: 10px;
}

#search input::-webkit-scrollbar {
  display:none;
}

#search input:focus {
  width: 200px;
  border-radius: 3px;
  font-weight: 400;
}

#search input::placeholder {
  opacity: 1;
}

/* Chrome, Safari, Edge, Opera */
#search input::-webkit-outer-spin-button,
#search input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#search input[type=number] {
  -moz-appearance: textfield;
}